{% extends "shared/base.html" %}


{% block title %}
    <link rel="icon" type="image/png" sizes="180x180" href="/static/images/bono-topi.jpg">
    <link href="/static/css/indexstyle.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', path='css/indexstyle.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
    <title>Stock's Prices Predictor App</title>
{% endblock %}

{% block content %}
    <div id="main-container">
        
        <h1 id='title'>Stock's Prices Predictor App</h1>
        <p id="jenisteks">Helps you to predict the stock's prices for next 7 days 🚀</p>
        <hr>
        <hr>
        
        <div id='app-try-container'>
            <form id="myform" action="/predict" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="choices_dropdown">Choose a stock: </label>
                    <select id="choices_dropdown" name="dropdown_choices">
                        {% for choice in choices %}
                        <option value={{choice}}>{{choice}}</option>
                        {% endfor %}
                    </select>
                    <select id="choices_action">
                        <option value="train">Train</option>
                        <option value="predict">Predict</option>
                    </select>
                    <button id="predict_selected" type='submit' class="btn-primary" onclick="return clickButton();">Submit</button>
                </div>
            </form>
        </div>
        <div class="morelessbtn" id='app-try-container'>
            <p id="result_placeholder" style="font-size: 8pt; font-style: oblique;">=== result will be here ===</p>
            <span id="result" style="display: none;"></span>
            <div class="spinner-border" role="status" id="loading" style="display: none;"></div>
        </div>
        
        <hr>
        <hr>
        
        <p id="subtitle" style="font-size: 12pt;">
            Interactive API Documentations: 
            <br/>
            <a style="font-size: 12pt;" href="/docs">swagger ui</a> | <a style="font-size: 12pt;" href="/redoc">redoc ui</a>
        </p>

        <div class="morelessbtn">
            <button class="btn-warning" id="morebtn" onclick="return moreButton();">Show.. &#128071;</button>
        </div>
        <div id='app-docs-container' style="display: none;">
            <p><img id="gif_img" src="{{ url_for('static', path='images/spp_api_docs.gif') }}" alt="center" width="903" height="422" /></p>
        </div>
        <div class="morelessbtn">
            <button class="btn-warning" id="lessbtn" style="display: none;" onclick="return lessButton();">Hide.. &#128070;</button>
        </div>

        <hr>
        <hr>
        
        <div id='contact-container'>
            <p id="subtitle">Contact me at</p>
            <div>
                <img class="image_center" id="general_txt_img" src="{{ url_for('static', path='images/bono-topi.jpg') }}" alt="" width="52" height="57">
            </div>
            <p id="jenisteks">
                | <a href="mailto:sumbono102@gmail.com" rel="noopener noreferrer" class="link">Email</a> 
                | <a href="https://github.com/sumbono" target="_blank">Github</a> | 
                <a href="https://www.linkedin.com/in/sumbono/" target="_blank">Linkedin</a> |
            </p>
        </div>
    
        <div class="copyright">
            <!-- <br> -->
            <!-- <p align="center">
                <audio title="Relax" src="{{ url_for('static', path='audio/embun-seruling.m4a') }}" controls autoplay loop>
                Audio element not supported by your browser
                </audio>
            </p> -->
            <h6 align="center">
                &copy; 2022 Sumbono. All rights reserved.
                This project uses 
                <a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a> & 
                <a href="https://jinja.palletsprojects.com/en/2.11.x/" target="_blank">Jinja2</a>.
            </h6>
        </div>

        <script type="text/javascript">
            function clickButton(){
                document.getElementById('loading').style.display = 'flex';
                document.getElementById('result').style.display = 'none';
                document.getElementById('result_placeholder').style.display = 'none';

                var stock_name=document.getElementById('choices_dropdown').value;
                var stock_action=document.getElementById('choices_action').value;

                if (stock_action == "predict") {
                    $.ajax({
                        type:"post",
                        url:$('#myform').attr('action') + '/' + stock_name,
                        data: {'stock_name' :stock_name},
                        cache: false,
                        dataType: "json",
                        success: function (response) {
                            $('#msg').html(response);
                            console.log({ response });
                            const myJSON = JSON.stringify(response);
                            
                            $.ajax({
                                contentType: 'application/json',
                                type:"post",
                                url:$('#myform').attr('action') + '_plotter',
                                data: myJSON,
                                cache: false,
                                dataType: "text",
                                success: function (response2) {
                                    document.getElementById('loading').style.display = 'none';
                                    document.getElementById('result').style.display = 'flex';
                                    console.log(response2)
                                    $( "#result" ).empty().append(response2.replace(/"/g, '').replace(/\\/g, ''));
                                }
                            });
                        }
                    });
                    
                } else {
                    $.ajax({
                        type: "post",
                        url: $('#myform').attr('action').replace("predict", "train") + '/' + stock_name,
                        data: {'stock_name' :stock_name},
                        cache: false,
                        dataType: "json",
                        success: function (response) {
                            document.getElementById('loading').style.display = 'none';
                            document.getElementById('result').style.display = 'flex';
                            $('#msg').html(response);
                            $( "#result" ).empty().append( response.training_result );
                            console.log({ response });
                        }
                    });
                }
                return false;
            }
            function moreButton(){
                document.getElementById('morebtn').style.display = 'none';
                document.getElementById('lessbtn').style.display = 'flex';
                document.getElementById('app-docs-container').style.display = 'flex';
                return false;
            }
            function lessButton(){
                document.getElementById('morebtn').style.display = 'flex';
                document.getElementById('lessbtn').style.display = 'none';
                document.getElementById('app-docs-container').style.display = 'none';
                return false;
            }
        </script>

    </div>

{% endblock %} 